<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性实现列表过滤</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>人员列表</h1>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(item, index) in filterPersons" :key="item.id">
                <p>{{item.name}}-{{item.age}}-{{item.sex}}</p>
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    keyWord: '',
                    persons: [
                        {
                            id: 1,
                            name: '马冬梅',
                            age: 19,
                            sex: "女"
                        },
                        {
                            id: 2,
                            name: '周冬雨',
                            age: 20,
                            sex: "女"
                        },
                        {
                            id: 3,
                            name: '周杰伦',
                            age: 21,
                            sex: "男"
                        },
                        {
                            id: 4,
                            name: '温兆伦',
                            age: 22,
                            sex: "男"
                        }
                    ]
                }
            },
            computed: {
                filterPersons() {
                    // 如果计算属性在页面上展示，则计算属性依赖的自身的vue实例的属性发生变化都会调用get
                    // 如果不在页面上展示，则不会调用get
                    return this.persons.filter(v => v.name.includes(this.keyWord));
                }
            },
        })
    </script>
</body>

</html>