<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤排序</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>人员列表</h1>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <button @click="sortType = 1">年龄升序</button>
        <button @click="sortType = 2">年龄降序</button>
        <button @click="sortType = 0">恢复默认顺序</button>
        <ul>
            <li v-for="(item, index) in filterPersons" :key="item.id">
                <p>{{item.name}}-{{item.age}}-{{item.sex}}</p>
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    sortType: 0,
                    keyWord: '',
                    persons: [
                        {
                            id: 1,
                            name: '马冬梅',
                            age: 22,
                            sex: "女"
                        },
                        {
                            id: 2,
                            name: '周冬雨',
                            age: 20,
                            sex: "女"
                        },
                        {
                            id: 3,
                            name: '周杰伦',
                            age: 21,
                            sex: "男"
                        },
                        {
                            id: 4,
                            name: '温兆伦',
                            age: 100,
                            sex: "男"
                        }
                    ]
                }
            },
            computed: {
                filterPersons() {
                    const arr = this.persons.filter(v => v.name.includes(this.keyWord));

                    if (this.sortType) {
                        // sort会改变原数组
                        arr.sort((a, b) => this.sortType === 1 ? a.age - b.age : b.age - a.age);
                    }

                    return arr;
                }
            },
        })
    </script>
</body>

</html>