<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性简写</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        姓名：<span>{{fullName}}</span>
    </div>

    <script>
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    firstName: '张',
                    lastName: '三'
                };
            },
            computed: {
                // 如果确定计算属性只读不改，才可以使用简写形式
                fullName() {
                    console.log('get被调用');
                    return this.firstName + '-' + this.lastName;
                }
            }
        })
    </script>
</body>

</html>